<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>categoria</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">categoria</ion-title>
    </ion-toolbar>
  </ion-header>
  <p> categoria </p>

  <ion-card *ngFor="let item of categoriaActual.productos" [routerLink] ="['/productos', item.id]">
    <img alt="{{item.nombre}}"src="{{item.imagen}}"/>
    <ion-card-header>
      <ion-card-title>{{item.nombre}} </ion-card-title>
      <ion-card-subtitle>${{item.precio}}</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      {{item.ingredientes}}
    </ion-card-content>
    </ion-card>

</ion-content>
