<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> producto </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> {{producto.nombre}} </ion-title>
    </ion-toolbar>
  </ion-header>
  <img src= "{{producto.imagen}}" alt="">
  <p> {{producto.ingredientes}}</p>
  <p> ${{producto.precio}} </p>
  <app-contador (cantidadCambiada)="cantidad=$event"></app-contador>
  <ion-button fill="clear" shape="round" expand="block" (click)= "onAgregarAlCarritoClicked()"> agregar al carrito</ion-button>
</ion-content>
